@import '../../styles//variables.scss';

.cart {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .header, .f_title, .total {
        @include user-text();
        font-size: 24px;
    }

    .main {
        .table {
            display: grid;
            grid-template-columns: 40% 25% 20% 20%;
            margin-top: 10px;

            .quantity, .delivery {
            
                @media screen and (max-width: 425px) {
                    grid-template-columns: 80% 0% 20% 0%;
                }
            }
            
            .item, .quantity, .price, .delivery {
                color: $base-gray;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .quantity, .delivery {
            
                @media screen and (max-width: 425px) {
                    display: none;
                }
            }
        }

        .empty {
            height: 90px;
            font-size: 20px;
            font-weight: 700;
            margin-top: 60px;
        }

        .loginMessage {
            display: flex;
            margin-top: 30px;

            .log {
                margin-right: 5px;
                color: $button;
                font-weight: 700;
            }
            
        }

        .books {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 45px;

            .wrapper {
                display: grid;
                align-items: center;
                grid-template-columns: 40% 25% 20% 20%;
                position: relative;

                @media screen and (max-width: 425px) {
                    grid-template-columns: 80% 0% 20% 0%;
                }

                .item {
                    display: flex;
                    gap: 20px;

                    .bookcover {
                        box-shadow: 0 24px 36px 0 rgba(53, 49, 84, 0.28);
                    }

                    .bookinfo {
                        align-self: center;

                        .name {
                            font-size: 16px;
                            font-weight: 700;
                            color: $base-black;
                            @include line-clamp ();

                            @media screen and (max-width: 425px) {
                                font-size: 14px;
                            }
                        }

                        .author, .rating {
                            font-size: 10px;
                            font-weight: 400;
                            margin-top: 10px;

                            
                        }

                        .rating {
                            display: flex;
                            align-items: center;
                            column-gap: 5px;

                            @media screen and (max-width: 425px) {
                                display: none;
                            }
                
                            .stars {
                                display: flex
                            }
                        }

                    }
                }

                .quantity {
                    .quantityWrapper {
                        width: 176px;
                        height: 45px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        border: 1px solid #EEEDF5;

                        @media screen and (max-width: 425px) {
                            position: absolute;
                            top: 110px;
                            left: 123px;
                            width: 130px;
                            height: 40px;
                        }

                        input {
                            all: unset;
                            width: 50px;
                            color: $base-gray;
                            font-size: 16px;
                            font-weight: 700;
                            text-align: center;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            &[type=number] {
                                -moz-appearance: textfield;
                            }
                        }
                        .button {
                            border: none;
                        }

                    }

                }

                .price {
                    font-size: 22px;
                    font-weight: 700;
                }

                .delivery {
                    font-size: 12px;
                    font-weight: 700;
                    color: $base-gray;

                    @media screen and (max-width: 425px) {
                        display: none;
                    }
                    
                }

            }
        }
    }
    .footer {

        .price {
            display: flex;
            align-items: center;
        }
        .f_title {
            margin-right: 5px;
        }

        .buy {
            @include button();
            width: 176px;
            padding: 15px 57px;

            &:hover {
                @include button-hover();
            }
        }
    }
}