@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 425px) {
        max-width: 350px;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 6;
    background-color: white;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.content {
    display: flex;
}